body {
    padding: 0 20%;
}

header {
    text-align: center;
}

.nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.nav form {
    display: inline-block;
    padding: 10px;
}

footer {
    text-align: center;
}

h2{
    text-align: center;
}

.tab{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
}