<nav>
    <ul class=nav>
        {% if session.user_type == "normal_user" %}
            <li> <a href="{{ url_for("height") }}">Height</a> </li>
            <li> <a href="{{ url_for("weight") }}">Weight</a> </li>
        {% endif %}
        {% if session.user_type == "premium_user" %}
            <li> <a href="{{ url_for("height") }}">Height</a> </li>
            <li> <a href="{{ url_for("weight") }}">Weight</a> </li>
            <li> <a href="{{ url_for("oxygen") }}">Oxygen</a> </li>
            <li> <a href="{{ url_for("kcal") }}">KCAL</a> </li>
        {% endif %}
        {% if session.user_type == "admin" %}
            <li> <a href="{{ url_for("admin_users") }}">Users</a></li>
        {% endif %}

    </ul>
</nav>