{% extends "_main.jinja2" %}

{% block title %} {% block type_name %} {% endblock %} {{ session.user }} {% endblock %}


{% block main %}
    {% include "_account_nav.jinja2" %}
    <table class="tab">
        <tr>
            <td>Number</td>
            <td>Value</td>
            <td>Date</td>
            <td>
                <input type="button" value="Edit" id="edit">
            </td>
        </tr>

    {% for i in range(len) %}
        <tr style="height:20px">
            <td class="numbers">{{ i * -1 + len }}</td>
            <td>{{ data[i].value }}</td>
            <td>{{ data[i].date }}</td>
            <td class="result"></td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td id="delete_m"></td>
        <td id="cancel_m"></td>
    </tr>
    </table>


    <h3>Přidat nový záznam:</h3>
    <form method="post">
        <table class="tab">
            <tr>
                <td>
                    <label>{% block type_box %} {% endblock %}</label>
                </td>
                <td>
                    <input type="text" name="value">
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <label>Date & Time:</label>
                </td>
                <td>
                    <input type="date" name="date">
                </td>

                <td>
                    <input type="time" name="time">
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
    <script>
    $(document).ready(function (){
        $("#edit").click(function () {


            len = document.getElementsByClassName("result").length
            for (let i = 0; i < len; i++){
                document.getElementsByClassName("result")[i].innerHTML = '<input type="checkbox" class="mycheck">'
            }
            document.getElementById("delete_m").innerHTML = '<input type="button" value="Delete" id="delete">'
            document.getElementById("cancel_m").innerHTML = '<input type="button" value="Cancel" id="cancel">'

            $("#delete").click(function () {
                delka = document.getElementsByClassName("mycheck").length
                let pole =  Array();
                for (let i = 0; i < delka; i++){
                    if (document.getElementsByClassName("mycheck")[i].checked == true){
                        let text = document.getElementsByClassName("numbers")[i].innerText
                        console.log(text)
                        pole.push(text)
                    }
                }
                if (pole.length > 0){
                    $.post("{% block post_delete %}{% endblock %}", {data: pole})
                    //location.replace("")
                    let delka = pole.length
                    alert(delka.toString() + " records will be deleted")
                    location.replace("{% block delete_name %}{% endblock %}")
                }
                else{
                    location.reload()
                }



            })

            $("#cancel").click(function () {

                location.replace("{% block cancel_name %}{% endblock %}")
            })
        })

    })
    </script>


{% endblock %}