<!doctype html>
<html lang="en">

<head>
    <title> {% block title %} {% endblock %} </title>
    {% include "_header.jinja2" %}
</head>

<body>
    <h2><a>Naše aplikace</a></h2>
    {% if "logged" in session %}
        <p>Je prřhlášen uživatel: {{ session.user }} S rolí: {{ session.user_type }}</p>
    {% endif %}


{% include "_nav.jinja2" %}

<main>
    {% block main %} {% endblock %}
</main>

{% include "_footer.jinja2" %}
</body>
</html>