<nav>
    <ul class=nav>
        <li> <a href="{{ url_for("welcome_page") }}">Welcome</a> </li>
        <li> <a href="{{ url_for("page_about") }}">About</a> </li>

        {% if "logged" in session %}
            <li> <a href="{{ url_for("account") }}">Account</a> </li>
            <li><a href="{{ url_for("settings") }}">Settings</a></li>
            <li>
                <form action="{{ url_for("logout") }}" method="post">
                    <input type="submit" value="logout">
                </form>
            </li>

        {% endif %}
        {% if "logged" not in session %}
            <li> <a href="{{ url_for("login_page") }}">Login</a> </li>
            <li> <a href="{{ url_for("register_page") }}">Register</a> </li>
        {% endif %}
    </ul>
</nav>