<ul class=nav>
    <li> <a href="{{ url_for("settings_password") }}">Change Password</a> </li>
    <li> <a href="{{ url_for("settings_email") }}">Change E-mail</a> </li>
    <li> <a href="{{ url_for("two_factor_verification_setup") }}">Setup two-factor verification</a> </li>
    {% if session.user_type == "premium_user" %}
        <li> <a href="{{ url_for("settings_user_type") }}">Downgrade to normal</a> </li>
    {% endif %}
    {% if session.user_type == "normal_user" %}
        <li> <a href="{{ url_for("settings_user_type") }}">Update to premium</a></li>
    {% endif %}

</ul>