{% extends "_main.jinja2" %}

{% block title %} About {% endblock %}

{% block main %}
    Webová aplikace slouží k zápisu a dokumentaci váhy a dalších tělesných mír.
    V aplikaci jsou dva druhy uživatelů. normal_user, premium_user.


    Aplikace je vyvýjena za účelem abslolvovat předmět BPC-AKR.
{% endblock %}