{% extends "_main.jinja2" %}

{% block title %} {{ session.user }} {% endblock %}

{% block main %}
    {% include "_account_nav.jinja2" %}
    <table class="tab">
        <tr>
            <td>Number</td>
            <td>Username</td>
            <td>Name</td>
            <td>Surname</td>
            <td>E-mail</td>
            <td>User type</td>
            <td>
                <input type="button" value="Edit" id="edit">
            </td>
        </tr>

    {% for i in range(len) %}
        <tr style="height:20px">
            <td class="numbers">{{ i * -1 + len }}</td>
            <td class="usernames">{{ data[i].username }}</td>
            <td>{{ data[i].name }}</td>
            <td>{{ data[i].surname }}</td>
            <td>{{ data[i].email }}</td>
            <td>{{ data[i].user_type }}</td>
            <td class="result"></td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td id="delete_m"></td>
        <td id="cancel_m"></td>
    </tr>
    </table>


    <script>
    $(document).ready(function (){
        $("#edit").click(function () {


            len = document.getElementsByClassName("result").length
            for (let i = 0; i < len; i++){
                document.getElementsByClassName("result")[i].innerHTML = '<input type="checkbox" class="mycheck">'
            }
            document.getElementById("delete_m").innerHTML = '<input type="button" value="Delete" id="delete">'
            document.getElementById("cancel_m").innerHTML = '<input type="button" value="Cancel" id="cancel">'

            $("#delete").click(function () {
                delka = document.getElementsByClassName("mycheck").length
                let pole =  Array();
                for (let i = 0; i < delka; i++){
                    if (document.getElementsByClassName("mycheck")[i].checked == true){
                        let text = document.getElementsByClassName("numbers")[i].innerText
                        console.log(text)
                        pole.push(text)
                    }
                }
                if (pole.length > 0){
                    $.post("{{ url_for("delete_users") }}", {data: pole})
                    //location.replace("")
                    let delka = pole.length
                    alert(delka.toString() + " records will be deleted")
                    location.replace("{{ url_for("admin_users") }}")
                }
                else{
                    location.reload()
                }



            })

            $("#cancel").click(function () {

                location.replace("{{ url_for("admin_users") }}")
            })
        })

    })
    </script>


{% endblock %}