{% extends "_data.jinja2" %}

{% block type_name %} Height {% endblock %}


{% block type %} Height: {% endblock %}


{% block type_box %} Height in cm:  {% endblock %}

{% block post_delete %}{{ url_for("delete_height") }}{% endblock %}

{% block delete_name %}{{ url_for("height") }}{% endblock %}

{% block cancel_name %}{{ url_for("height") }}{% endblock %}