{% extends "_data.jinja2" %}

{% block type_name %} KCAL {% endblock %}


{% block type %} KCAL: {% endblock %}


{% block type_box %} KCAL:  {% endblock %}

{% block post_delete %}{{ url_for("delete_kcal") }}{% endblock %}

{% block delete_name %}{{ url_for("kcal") }}{% endblock %}

{% block cancel_name %}{{ url_for("kcal") }}{% endblock %}

