{% extends "_main.jinja2" %}

{% block title %} Login {% endblock %}

{% block main %}
    Musíš být přihlášen...
    <br>
    Pokud nemáš účet musiš se zaregistrovat
    <br>
    <li> <a href="{{ url_for("login_page") }}">Login</a> </li>
    <li> <a href="{{ url_for("register_page") }}">Register</a> </li>

{% endblock %}