{% extends "_data.jinja2" %}

{% block type_name %} Oxygen {% endblock %}


{% block type %} Oxygen: {% endblock %}


{% block type_box %} Weight in mL:  {% endblock %}

{% block post_delete %}{{ url_for("delete_oxygen") }}{% endblock %}

{% block delete_name %}{{ url_for("oxygen") }}{% endblock %}

{% block cancel_name %}{{ url_for("oxygen") }}{% endblock %}

