{% extends "_main.jinja2" %}

{% block title %} Register {% endblock %}

{% block main %}
    <form action="{{ url_for("register_user") }}" method="post">
    <p>
        <label> First name: </label>
        <input type="text" name="first_name">
    </p>
    <p>
        <label> Surname: </label>
        <input type="text" name="surname">
    </p>
    <p>
        <label> E-mail: </label>
        <input type="text" name="email">
    </p>
    <p>
        <label> Username: </label>
        <input type="text" name="username">
    </p>
    <p>
        <label> Password: </label>
        <input type="password" name="password">
    </p>

    <p>
        <label> Confirm Password: </label>
        <input type="password" name="c_password">
    </p>
    <input type="submit" value="Register">
    <p>{{ errors.username_error }}</p>
    <p>{{ errors.same_password }}</p>
    <p>{{ errors.email_form }}</p>
    <p>{{ errors.else }}</p>
</form>
{% endblock %}