{% extends "_main.jinja2" %}

{% block title %} Two-Factor Authentication {% endblock %}

{% block main %}
     <form action="{{ url_for("two_factor_authentication") }}" method="post">
     <p>
        <input hidden type="url" name="url" value={{request.url}}>
    </p>
    <h2>Please input the One Time Password from the authentication app<h2>
    <p>
        <input type="text" name="otp">
        <input type="submit" value="submit">
    </p>

</form>
{% endblock %}