{% extends "_data.jinja2" %}

{% block type_name %} Weight {% endblock %}


{% block type %} Weight: {% endblock %}


{% block type_box %} Weight in kg:  {% endblock %}

{% block post_delete %}{{ url_for("delete_weight") }}{% endblock %}

{% block delete_name %}{{ url_for("weight") }}{% endblock %}

{% block cancel_name %}{{ url_for("weight") }}{% endblock %}

