{% extends "_main.jinja2" %}

{% block title %} Two-Factor Authentication Setup{% endblock %}

{% block main %}
    <div>
        <h2>Setting up two-factor verification</h2>
    </div>

    <div>
        <a href="{{ url_for("two_factor_qr") }}">Generate two-factor authentication string</a>
    </div>

{% endblock %}