{% extends "_settings.jinja2" %}

{% block title %} Settings {% endblock %}

{% block main %}
    <form method="post">
    {% if session.user_type == "premium_user" %}
            <input name="submit" value="To normal" type="submit">
    {% endif %}
    {% if session.user_type == "normal_user" %}
            <input name="submit" value="To premium" type="submit">
    {% endif %}
    </form>
{% endblock %}