{% extends "_settings.jinja2" %}

{% block title %} Settings {% endblock %}

{% block main %}
    Change email:
    <form method="post">
        <table>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    New email:
                </td>
                <td>
                    <input type="email" name="new_email">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Chnage email">
                </td>
            </tr>
        </table>
    </form>
    <p>{{ error }}</p>

{% endblock %}