{% extends "_settings.jinja2" %}

{% block title %} Settings {% endblock %}

{% block main %}
    {% include "_settings_nav.jinja2" %}
    {% block user_data %}
        User:
        <table class="tab">
            <tr>
                <td>Username</td>
                <td>User_ID</td>
                <td>Name</td>
                <td>Surname</td>
                <td>E-mail</td>
                <td>User type</td>
            </tr>
            <tr>
                <td>{{ data.username }}</td>
                <td>{{ data.user_id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.surname }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.user_type }}</td>
            </tr>
     </table>
    {% endblock %}
{% endblock %}