{% extends "_settings.jinja2" %}

{% block title %} Settings {% endblock %}

{% block main %}
    Change password:
    <form method="post">
        <table>
            <tr>
                <td>
                    Old password:
                </td>
                <td>
                    <input type="password" name="old_password">
                </td>
            </tr>
            <tr>
                <td>
                    New password:
                </td>
                <td>
                    <input type="password" name="new_password">
                </td>
            </tr>
            <tr>
                <td>
                    Confirm new password:
                </td>
                <td>
                    <input type="password" name="c_new_password">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Chnage password">
                </td>
            </tr>
        </table>
    </form>
    <p>{{ errors.same_password }}</p>
    <p>{{ error }}</p>


{% endblock %}