{% extends "_main.jinja2" %}

{% block title %} Two-Factor Authentication {% endblock %}

{% block main %}
    <h2>Enter the code bellow into the authentication app:</h2>
    <h3>{{data}}</h3>
    <p> Save your string...</p>
{% endblock %}